@import "../../vars.css";


.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--color-secondary);
  box-shadow: var(--color-shadow);
  border: 1px solid var(--color-border);
  padding: 18px 24px;
  max-width: 345px;
  transition: var(--transition-theme);
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  justify-content: center;
  text-decoration: none;
  color: var(--color-text);
  background: var(--color-primary);
  padding: 1px 22px;
  border-radius: 100px;
}