@import "../../vars.css";


.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--color-secondary);
  box-shadow: var(--color-shadow);
  border: 1px solid var(--color-border);
  padding: 18px 24px;
  max-width: 345px;
  height: 825px;
  transition: var(--transition-theme);
}

.image {
  size: 15%;
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  margin-bottom: 55pxs  ;
  font-size: 25px;
  font-weight: 400;
  padding-top: 8%;
  padding-bottom: 8%;
}

.skills {
  width: 100%;
  display: inline-flex;
  flex-wrap:wrap-reverse;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  display:inline-flex;
  gap: 15px;
  justify-content: space-around;
  margin-top: auto; /* pushes links to bottom */
  padding-bottom: 5px; /* 5px space from bottom */
}

.link {
  justify-content: center;
  text-decoration: none;
  color: var(--color-text);
  background: var(--color-primary);
  padding: 1px 22px;
  border-radius: 100px;
  margin: 0;
}