@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(90deg,
      var(--color-text) 70%,
      var(--color-accent) 120%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: var(--transition-theme);
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  color: var(--color-text);
  transition: var(--transition-theme);
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-accent);
  color: white;
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 4px 15px var(--color-shadow);
  transition: var(--transition-theme);
}

.contactBtn:hover {
  background-color: var(--color-accent-hover);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px var(--color-shadow);
}

.heroImage {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: var(--transition-theme);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: var(--color-accent);
  opacity: 0.1;
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: var(--color-accent);
  opacity: 0.1;
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }

  .title {
    font-size: 48px;
    text-align: center;
  }

  .description {
    font-size: 20px;
    text-align: center;
  }

  .contactBtn {
    font-size: 20px;
    padding: 12px 20px;
  }

  .heroImage {
    width: 80%;
  }
}