@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background: linear-gradient(135deg,
      var(--color-primary) 0%,
      var(--color-accent) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
  transition: var(--transition-theme);
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--color-text);
  transition: var(--transition-theme);
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--color-text);
  transition: var(--transition-theme);
}

.links {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 25px;
  row-gap: 26px;
  align-items: center;
  list-style: none;
  justify-self: end;
}

.link {
  display: contents;
}

.link img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: block;
  justify-self: center;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1;
  transition: var(--transition-theme);
  justify-self: start;
}

.link a:hover {
  color: var(--color-accent);
  transform: translateY(-2px);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;
    row-gap: 20px;
    align-items: center;
    justify-items: start;
  }

  .link {
    display: contents;
  }

  .link img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    justify-self: center;
  }

  .text h2 {
    font-size: 48px;
  }

  .text p {
    font-size: 24px;
  }

  .link a {
    font-size: 20px;
    line-height: 1.2;
    justify-self: start;
  }
}