@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  transition: var(--transition-theme);
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}


.menuBtn {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  align-self: center;
}

.menuBtn svg {
  width: 100%;
  height: 100%;
  color: inherit;
  stroke: currentColor;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  transition: var(--transition-theme);
}

.menuItems a:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 830px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0 10%;
    position: relative;
    min-height: 60px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 0;
  }







  .menuBtn {
    display: block;
    position: relative;
    z-index: 1000;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    position: static;
    width: auto;
    margin-top: 0;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: linear-gradient(0deg,
        rgba(25, 61, 109, 0.2) 0%,
        rgb(25, 52, 109) 100%);

    box-shadow: 0 0 4px 0 var(--color-shadow);
    position: fixed;
    top: 70px;
    right: 10%;
    z-index: 999;
    padding: 20px;
    min-width: 200px;
  }

  .menuOpen {
    display: flex;
  }
}