:root {

    /* Colours */
    --color-text: #000000;
    --color-primary: #535f1e;
    --color-secondary: #394814;
    --color-dark: #035154;
    --color-bg: #a6d75dc2;

    /* Fonts */ 
    --font-robot: "Roboto";
}