:root {
  /* Colours */
  --color-text: #000000;
  --color-primary: #98bbcad0;
  --color-secondary: #fefefe;
  --color-dark: #f1f1f3;
  --color-bg: #e4e9f0;

  /* Fonts */
  --font-roboto: "Roboto";
}
