:root {

    /* Colours */
    --color-text: #000000;
    --color-primary: #345e32;
    --color-secondary: #33622d;
    --color-dark: #035154;
    --color-bg: #a6d75dc2;

    /* Fonts */ 
    --font-roboto: "Roboto";
}